<!DOCTYPE html>
<html>

<head>
  <title>Teste Itau 14B</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="text-align: center;">
  <h1>Um site de teste</h1>
  <div style="display: flex">
    <div style="width: 50%; background-color:aqua;padding:30px">Uma cor azul</div>
    <div style="width: 50%; background-color:crimson;padding:30px">Uma cor vermelha</div>
  </div>
</body>

</html>